/*:root {*/
/*    --color-primary: #008abf;*/
/*    --color-primary-hover: #0077a6;*/
/*    --color-secondary: #432273;*/
/*    --color-accent: #00a7d6;*/

/*    --color-bg-light: #f6f8fa;*/
/*    --color-bg-dark: #121212;*/

/*    --color-text-primary: #1a1a1a;*/
/*    --color-text-secondary: #5c5c5c;*/
/*    --color-border: #e0e0e0;*/
/*}*/
:root {
    /* Brand Colors */
    --color-primary: #008abf;
    --color-primary-hover: #0077a6;
    --color-secondary: #432273;
    --color-accent: #00a7d6;

    /* Backgrounds */
    --color-bg-light: #f6f8fa;
    --color-bg-dark: #0d1117;

    /* Texts */
    --color-text-primary: #ffffff;
    --color-text-secondary: #94a3b8;

    /* Borders */
    --color-border: #303541;

    /* Effects */
    --shadow-primary: 0 0 40px rgba(26, 140, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
    color: #222;
    font-family: "Titillium Web", sans-serif;
}

#svelte {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.scrollable {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
    width: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.scrollable::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

html {
    scroll-behavior: smooth;
}

.button-outline {
    position: relative;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: bold;
    padding: 8px 16px;
    white-space: nowrap;
    font-family: "Titillium Web", sans-serif;
    background: transparent;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
    z-index: 0;
    transition: color 0.3s, box-shadow 0.3s;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        padding: 2px;
        margin: -3px;
        background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
        mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
        mask-composite: exclude;
        z-index: -1;
    }


    &:hover {
        box-shadow: var(--shadow-primary);
    }
}

.button-primary {
    font-size: 1rem;
    border-radius: 10px;
    font-weight: bold;
    padding: 8px;
    white-space: nowrap;
    font-family: "Titillium Web", sans-serif;
    background-image: linear-gradient(
            135deg,
            var(--color-primary) 0%,
            var(--color-secondary) 100%
    );
    border: none;
    color: white;

    &:hover {
        box-shadow: var(--shadow-primary);
    }
}


a, button, input, textarea {
    outline-color: transparent;
    border-radius: 10px;
    &:focus, &:active {
        transition-property: all;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: .15s;
        outline: 2px solid rgb(26, 140, 255);
        border-radius: 10px;
        outline-offset: 3px;
    }
}

input, textarea {
    background-color: rgba(16, 19, 24, 0.5);
    height: 40px;
    border: 1px solid rgb(48, 53, 65);
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .5rem .75rem;
    color: white;
}

button {
    cursor: pointer;
}

a, .image-overlay-line, button  {
    user-select: none !important;
    -webkit-user-select: none !important;
}

h1 {
    font-size: 5rem;
    font-family: "Titillium Web", sans-serif;
    background: linear-gradient(135deg, var(--color-primary) 30%, var(--color-secondary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* for better cross-browser support */
    background-clip: text;
    color: transparent;
}
h2 {
    font-size: 3rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    background: linear-gradient(135deg, var(--color-primary) 30%, var(--color-secondary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* for better cross-browser support */
    background-clip: text;
    color: transparent;
}
h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Titillium Web", sans-serif;
    color: var(--color-text-primary);
}
p {
    color: rgb(177, 177, 177);
    font-size: 1.3rem;
    width: 50%;
    text-align: center;
    margin-bottom: 24px;
}
.heading, .subheading {
    width: 100%;
    text-align: center;
}

.mobile-menu-toggle-button {
    display: none !important;
    background: transparent;
    border: none;
    align-self: end;
}

.toast--success {
    color: green !important;
}

.toast--error {
    color: red !important;
}

@media only screen and (max-width: 1024px) {
    .mobile-menu-toggle-button {
        display: inline-block !important;
        z-index: 200 !important;
        position: absolute !important;
        right: 15px !important;
        top: 15px !important;
    }

    h1 {
        font-size: 4rem;
    }
}
